jdbc.driver=org.postgresql.Driver
jdbc.url=
jdbc.user=
jdbc.password=
setup.displayName=Bitbucket
setup.baseUrl=
setup.sysadmin.username=admin
setup.sysadmin.password=@ccenture1
setup.sysadmin.displayName=Admin
setup.sysadmin.emailAddress=admin@accenture.com

